html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    border:1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height:100vh;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
    padding:0;
    margin:0;
}

.back-to-home{
    font-size:27px;
    font-family: 'Acme';
    padding:10px;
}

@media(min-width: 768px) and (max-width: 1024px){
    .about{
        grid-template-rows: 90px 360px 220px 250px 360px 230px 230px;
    }
}
@media (max-width: 767px){
    .about{
        grid-template-rows: 90px 320px 350px 280px 310px 390px 250px 250px;
    }
    .about img{
        grid-column: 1/6;
        grid-row: 2/3;  
    }
    .basic_info{
        grid-column: 1/6;
        grid-row:3/4;
        font-size:22px;
    }
    .intro{
        grid-column:1/6;
        grid-row:4/5;
        font-size:22px;
    }
    .skills{
        grid-column: 1/6;
        grid-row:5/6;
    }
    .edu{
        grid-column: 1/6;
        grid-row:6/7;
    }
    .exp{
        grid-column: 1/6;
        grid-row:7/8;
    }
    .about .interest{
        grid-column: 1/6;
        grid-row:8/9;
    }
    .image img{
        width:180px;
        height:180px;
    }
    #certification section div{
        font-size: 17px;
    }
    .git{
        grid-row:3/4;
        grid-column:1/2;
    }
    .contact div{
        font-size: 20px;
    }
    .edu div{
        font-size:18px;
        padding:7px
    }
}

@media (max-width:550px){

    .intro,.basic_info,.interest div,.contact div,#certificates div{
        font-size:18px;
        padding:5px;
    }
    .contact{
        padding:5px;
        width:80%;
        height:70%;
    }
    #certificates section img{
        width:50px;
        height:50px;
    }
    #certificates{
        padding:5px;
        grid-gap:7px;
    }
    .about .interest div:nth-child(even){
        float:none;
        width:100%;
    }
    .intro_to_programming{
        grid-row:2/3;
        grid-column:1/4;
    }
    .JavaScript{
        grid-row:3/4;
        grid-column:1/4;
    }
    .git{
        grid-row:4/5;
        grid-column: 1/4;
    }
}
@media (max-width:440px){
    .home{
        width:90%;
        height:90%;
    }
    .home .image img{
        width:150px;
        height:150px;
    }
    .home .image{
        grid-row:1/2;
        grid-column:1/4;
    }
    .home .social-handle{
        grid-row:2/5;
        grid-column:1/4;
    }
    .edu div,.contact div{
        font-size:16px;
    }
    .info{
        padding:12px;
    }
    #certificates section{
        padding:5px;
    }
    span{
        font-size:25px;
    }
    #certificates{
        overflow:scroll;
    }
}
@media (max-width:330px){
    .about{
        width:84%;
        height:84%;
        grid-template-rows: 90px 320px 400px 330px 310px 410px 250px 250px;
    }
    .home{
        overflow: scroll;
    }
    .home .image img{
        width:120px;
        height:120px;
    }
    .home .social-handle{
        grid-row:3/5;
        grid-column:1/4;
    }
    .contact{
        height:84%;
    }
    .contact div{
        font-size: 12px;
    }

}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
    .home{
        width:90%;
        height:90%;
    }
    #certificates{
        height: 80%;
        width:80%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        padding:5px;
        grid-gap:5px;
    }
    .git{
        grid-row:2/3;
        grid-column:3/4;
    }
    .intro_to_programming{
        grid-row:2/3;
        grid-column:1/2;
    }
    .JavaScript{
        grid-row:2/3;
        grid-column:2/3;
    }
    .contact{
        padding:5px;
        width:85%;
        height:80%;
    }
    #certificates section img{
        width:50px;
        height:50px;
    }
    #certificates div{
        font-size: 15px;
    }
    span{
        font-size:25px;
    }
    .home{
        overflow: scroll;
    }
}